<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5"
  metadata-complete="true">

  <display-name>XForms Webapp Stub</display-name>

  <session-config>
    <!-- 24 hours timeout -->
    <session-timeout>1440</session-timeout>
  </session-config>

  <!-- The following parameters may also be passed on as system properties: -->

  <!-- BaseX options (HTTPLOCAL, TIMEOUT, LOG, etc.) can be overwritten
       by prefixing the key with "org.basex." and specifying them in
       <context-param/> elements, as shown below. Please checkout
       http://docs.basex.org/wiki/Options for a list of all options. -->

  <context-param>
    <param-name>org.basex.httplocal</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.user</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.password</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>org.basex.restxqpath</param-name>
    <param-value>restxq</param-value>
  </context-param>

  <!-- Global session listener -->
  <listener>
    <listener-class>org.basex.http.SessionListener</listener-class>
  </listener>

  <!--  Mapping for static resources (may be restricted to a sub path) -->
  <servlet>
    <servlet-name>default</servlet-name>
    <init-param>
      <param-name>useFileMappedBuffer</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!--  REST Service (can be deactivated by removing this entry) 
  <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>org.basex.http.rest.RESTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping-->

  <!--  RESTXQ Service (can be deactivated by removing this entry) -->
  <servlet>
    <servlet-name>RESTXQ</servlet-name>
    <servlet-class>org.basex.http.restxq.RestXqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTXQ</servlet-name>
    <url-pattern>/restxq/*</url-pattern>
  </servlet-mapping>

  <!--  Direct association to queries and scripts
  <servlet>
    <servlet-name>Direct</servlet-name>
    <servlet-class>org.basex.http.direct.DirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Direct</servlet-name>
    <url-pattern>*.xq</url-pattern>
    <url-pattern>*.bxs</url-pattern>
  </servlet-mapping-->

  <!-- compression="on" compressionMinSize="2048" noCompressionUserAgents="gozilla, traviata" compressableMimeType="text/html,text/xml,text/json,text/javascript,text/css,text/plain,application/javascript,application/xml,application/xml+xhtml" to enable tomcat zip compression.
  For jetty add the:
  <filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
</web-app>
